@import "../styles/pallete.styl"

.food__calories
	margin 0 10px

.search-field
	border 0
	border-bottom 1px solid accent-color
	font-family FuturaLight
	width 20vw
	font-size 25px
	transition border 0.5s
	&:focus
		outline 0
		border-bottom 2px solid default-primary-color