@import "./styles/pallete.styl"

.App
	width 1010px

body
	font-family: FuturaLight
	font-size 24px
	color default-primary-color
	background #ffffff
	min-width 100%

#root
	display flex
	justify-content flex-start
	width 60vw
	padding-left 20vw
